# Windows thumbnail cache
Thumbs.db
ehthumbs.db
Desktop.ini

# Folder config file
$RECYCLE.BIN/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE files
.vscode/
.idea/
*.suo
*.user
*.workspace
